<div class="card text-bg-primary mb-3 my-3 bg-info">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title text-white">Listado de clientes</h5>
      <div class="my-3 text left">
        <button class="btn btn-rounded btn-success " type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
      </div>
      <div *ngIf="clientes?.length==0" class="alert alert-info" >
        No hay registros en la base de datos
      </div>
      <table class = "table table-bordered table-striped text-center " *ngIf="clientes?.length>0">
        <thead>
            <tr class="center">
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td class="border-2 border-info"><span class="badge badge-primary badge-pill text-light bg-success">{{cliente.id}}</span></td>
                <td class="border-2 border-info">{{cliente.nombre}}</td>
                <td class="border-2 border-info">{{cliente.apellido | uppercase}}</td>
                <td class="border-2 border-info">{{cliente.email}}</td>
                <td class="border-2 border-info">{{cliente.createAt | date:'dd-MMMM-yyyy'}}</td>
                <td class="border-2 border-warning"> 
                  <button type="button" name="botonUpd" [routerLink]="['/clientes/form',cliente.id]" class="btn btn-warning w-100 ">Editar</button>
                </td>
                <td class="border-2 border-danger" > 
                  <button type="button" name="botonDel" (click)="delete(cliente)" class="btn btn-danger w-100">Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
      <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
    </div>

  </div>

