<ul class="alert alert-danger text-center" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>


<div id="divForm" class="card text-white border-info bg-dark">
    <div class="card-header centrar">{{ titulo }}</div>
    <div class="card-body centrar">
        <form>
        <div  class="form-group row  centrar ">
            <label for="nombre" class="col-form-label centrar" col-sm-2>Nombre</label>
            <div class="col-sm-6 centrar">
                <input type="text" class="form-control border-2 border-info centrar" [(ngModel)]="cliente.nombre" name="nombre"  #nombre="ngModel"> <!--required minlength="4"
                    
                    
                        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                    Nombre es requerido
                </div> 
                <div *ngIf="nombre.errors.minlength">
                    Nombre minimo 4 letras
                </div> 
                </div>
                    
                -->
            
            </div>
        </div>

        <div class="form-group row centrar">
            <label for="apellido" class="col-form-label centrar" col-sm-2>Apellido</label>
            <div class="col-sm-6 centrar">
                <input type="text" class="form-control border-2 border-info centrar" [(ngModel)]="cliente.apellido" name="apellido"  #apellido="ngModel"> <!--required minlength="4"
                
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                    <div *ngIf="apellido.errors.required">
                        apellido es requerido
                    </div> 
                    <div *ngIf="apellido.errors.minlength">
                        apellido minimo 4 letras
                    </div> 
                    </div>
                
                -->
            
            </div>
        </div>

        <div class="form-group row centrar">
            <label for="email" class="col-form-label centrar" col-sm-2>Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control border-2 border-info centrar" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!--
                    
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        Email es requerido
                    </div> 
                    <div *ngIf="email.errors.email">
                        Email
                    </div> 
                    </div>
                -->
                
            </div>
        </div>

        <div class="form-group row centrar">
            <div class="col-sm-6 mt-5 mb-5 centrar">
                <button class="btn btn-info botonFormulario centrar" role="button" (click)="create()" *ngIf="!cliente.id else elseBlock">Crear</button>

                <ng-template #elseBlock>
                    <button class="btn btn-primary botonFormulario " role="button" (click)="update()">Actualizar</button>
                </ng-template>
            </div>
        </div>

    </form>
</div>

    
</div>
