<ul class="alert alert-danger" *ngIf="errores?.length>0">
  <li *ngFor="let err of errores"> {{err}}</li>
</ul>
<div class="container">
  <h2>{{ titulo }}</h2>
  <form #clienteForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="cliente.nombre"
        placeholder="Introduce nombre"
        name="nombre"
        required
        #nombre="ngModel"
      /><!-- required minlength="4" -->
      <div
        class="alert alert-danger"
        *ngIf="nombre.invalid && (nombre.dirty || nombre.tocuhed)"
      >
        <div *ngIf="nombre.errors.required">Nombre es requerido</div>
        <div *ngIf="nombre.errors.minlength">
          Nombre debe tener al menos 4 caracteres
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="cliente.apellido"
        placeholder="Introduce apellido"
        name="apellido"
        #apellido="ngModel"
      /><!-- required -->
      <div
        class="alert alert-danger"
        *ngIf="apellido.invalid && (apellido.dirty || apellido.tocuhed)"
      >
        <div *ngIf="apellido.errors.required">Introduce un apellido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="cliente.email"
        placeholder="example@email.com"
        name="email"
        required
        #email="ngModel"
      /><!-- required email -->
      <div
        class="alert alert-danger"
        *ngIf="email.invalid && (email.dirty || email.tocuhed)"
      >
        <div *ngIf="email.errors.required">
          El email es obligatorio
        </div>
      <div *ngIf="email.errors.email">
        Formato no valido
      </div>
      </div>
    </div>

    <div class="form-group row mt-2">
      <div class="col-sm-6">
        <button
          type="submit"
          role="button"
          (click)="create()"
          *ngIf="!cliente.id; else elseBlock"
          class="btn btn-primary"
          [disabled]="!clienteForm.form.valid"
        >
          Crear
        </button>
        <ng-template #elseBlock>
          <button
            type="submit"
            role="button"
            (click)="update()"
            class="btn btn-primary"
            [disabled]="!clienteForm.form.valid"
          >
            Actualizar
          </button>
        </ng-template>
      </div>
    </div>
  </form>
</div>
